@media (min-width: 768px) {}

/* HEADER SECTION */

.home-container {
    height: 95vh;
}

.home-text {
    margin-left: 5rem;

    &__title {
        font-size: 9rem;
    }
}

.home-img__baloon {
    &-1 {
        margin: 12rem 55%;
    }

    &-2 {
        margin: 17rem 80%;
    }
}

.home-img__down-landscape {
    margin-bottom: -95vh;
}

/* ABOUT US SECTION */

.about-text {
    margin-left: 5rem;

    &__title {
        font-size: 4rem;
    }

    &__subtitle {
        margin-bottom: 4rem;
        font-size: 2rem;
    }
}

/* ABOUT US SECTION - BOX */

.about-box {
    &__item {
        max-width: 60%;
        
        &:hover .about-box__item-bg {
            top: 10rem;
        }
    }

    &__img {
        max-width: 75%;
    }

    &__text-title {
        font-size: 3rem;
    }
}

.fas {
    font-size: 4rem;
}

/* LAST MINUTE SECTION */

.last-text__rotate {
    margin-left: 5rem;
}

.last-text__title {
    font-size: 4rem;
}

/* LAST MINUTE SECTION - PICTURES */

.last-wrapper__head {
    margin-top: -6vw;
    line-height: 5rem;
}

/* CONTACT */

.contact-wrapper {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}