@media (min-width: 500px) {}

/* BUTTON GENERAL */

.btn-general {
    width: 20rem;
    height: 6rem;
    font-size: 2rem;
}

/* HEADER SECTION */

.home-text {
    margin: 26rem 4rem;

    &__title {
        font-size: 6rem;
    }

    &__subtitle {
        margin-bottom: 2rem;
        font-size: 2.5rem;
    }
}

.home-img__down-landscape {
    width: 160vw;
}