@media (min-width: 1600px) {}

/* NAVIGATION */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 220rem;
}

.nav-mobile {
    display: none;
}

.nav-logo {
    margin-left: 5rem;
    height: 75%;
}

.nav-links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: .5rem;
    left: 0;
    margin-right: 3rem;
    transform: translate(0);
    font-weight: normal;

    &__item-bg {
        margin-right: 2rem;
        padding: .3rem 1rem;
    }
}

/* HEADER SECTION */

.home-text {
    &__title {
        font-size: 16rem;
    }

    &__subtitle {
        font-size: 3rem;
    }
}

.home-img__baloon {
    &-1 {
        margin: 23rem 75rem;
    }

    &-2 {
        margin: 38rem 113rem;
    }
}

.home-img__down-landscape {
    margin-bottom: -110vh;
    max-width: 100vw;
}

/* ABOUT US SECTION */

.about-text__title {
    padding-top: 15rem;
    font-size: 6rem;

    &::after {
        width: 30rem;
    }
}

.about-text__subtitle {
    margin-top: 5rem;
}

.about-box {
    margin: 5rem;

    &__text-subtitle {
        font-size: 1.7rem;
    }
}

/* LAST MINUTE SECTION */

.last-text__title {
    font-size: 6rem;

    &::after {
        width: 30rem;
    }
}

.last-text__subtitle {
    margin-top: 12rem;
    font-size: 4rem;
}

.last-text__p {
    margin-top: 12rem;
}

.last-circle-text {
    margin: -9rem auto;
    max-width: 18rem;
}

/* CONTACT */

.contact-container {
    justify-content: center;
}

.contact-wrapper {
    width: 80%;

    &__item {
        font-size: 2rem;
    }
}


@media (min-width: 2200px) {
    .general-container {
        max-width: 220rem;
    }
}

@media (min-width: 4200px) {
    .home-container {
        max-height: 50vh;
    }

    .home-img__down-landscape {
        margin-bottom: -50vh;
    }
}
